body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.smurf-container {
  background-color: rgb(106, 106, 231);
  padding: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./image/SmurfCot11adj.jpg");
  background-size: cover;
}

.smurf {
  background-color: rgb(5, 2, 177);
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: 2px solid yellow;
}

.smurf h2 {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

form {
  padding: 20px;
}

input[type=text] {
  border: 2px solid yellow;
  border-radius: 4px;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
}

form button {
  padding: 20px;
  border: none;
  background-color: yellow;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}